<!-- Using JINJA  to override base html template changing the title -->
{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

    <!-- HTTP method POST, depending on the method, the routes will do different things -->
    <!-- Post Request usually means a database change or a change to the state of the website -->
    <!-- Will send a request to the url that is a post request with all the information -->
    <form method="POST">
        <h3 align="center">Login</h3>

        <div class="form-group">
            <label for="email">Email Address</label>
            <!-- Will access the attribute by the name, remember to name it correctly -->
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <!-- Will access the attribute by the name, remember to name it correctly -->
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>

        <!-- Break line to separate the button -->
        <br />

        <!-- Creating submit button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
{% endblock %}